<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeatherServiceUrl" value="http://localhost:8080/WeatherService.asmx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>

