<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- IMPORTANT: when you know your WebStrar path, replace this URL -->
    <add key="WeatherServiceUrl"
         value="http://webstrar143.fulton.asu.edu/YOUR_TEAM_FOLDER/WeatherLookupService/WeatherService.asmx" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>

